.grill-img{
	display: none;
}

.show{
	display: block;
}

.steak{
    display: block;
    width: 365px;
    height: 255px;
    position: absolute !important;
    top: 0;
    left: 0;
}

.steak-img{
    opacity: 0;
    position: absolute;
}

.food-first-img{
    z-index: 4;
}

.food-second-img{
    z-index: 3;
}

.food-thread-img{
    z-index: 2;
}

.food-fourth-img{
    z-index: 1;
}